<div ng-controller="stockCtrl">
<div class="row">
<div class="col-sm-12">
<div class="panel panel-primary"> 
    <div class="panel-heading"> 
        <h3 class="panel-title">Stock Group List</h3> </div> 
        <div class="panel-body">
            <table class="table">
            <thead>
                <tr>
                    <td>Stock Item</td><td>Description</td><td>Unit</td><td>Group</td>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="si in stockItem">
                    <td>{{si.stockitem}}</td><td>{{si.stockitemdesc}}</td><td>{{si.mesurement}}</td><td>{{si.stockgroup}}</td>
                </tr>
                </tbody>
                
            </table>
        
        </div> 
        </div>
</div>
</div>

<div class="row">
     <div class="col-lg-2 col-md-4 col-sm-6  col-lg-offset-5 col-md-offset-4 col-sm-offset-3">
    <form>
          <div class="form-group">
            <label for="exampleInputEmail1">Stock Item Name</label>
            <input type="text" class="form-control" ng-model="master.stockitem" id="exampleInputEmail1" placeholder="Stock Item Name">
          </div>
          <div class="form-group">
            <label for="exampleInputPassword1">Description</label>
            <input type="text" class="form-control"  ng-model="master.stockitemdesc"  id="exampleInputPassword1" placeholder="Description">
          </div>
        <div class="form-group">
            <label for="exampleInputPassword1">Mesurment</label>
                <select class="form-control"  ng-model="master.mesurement"  id="exampleInputPassword1">
                <option>KG</option>
                <option>Liter</option>
                <option>Grams</option>
                <option>Nos</option>
            </select>
          </div> 
        <div class="form-group">
            <label for="exampleInputPassword1">Stock Group</label>
            <select class="form-control"  ng-model="master.stockgroup"  id="exampleInputPassword1">
                <option>Group1</option>
                <option>Group2</option>
            </select>
          </div>

                <button type="submit" ng-click="saveAction()" class="btn btn-default">Save</button>

</form>
    </div> 
</div>    
</div>